.content {
    align-items: center;
    background-color: cornflowerblue;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}
.content textarea{
    width: 160px;
}
.content label{
    margin: 4px;
}
.content .pass{
    width: 160px;
}
.content .content-pass {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content .content-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content .button{
    align-self: flex-end;
    margin: 4px 0;    
}
.content .hidden{
    display: none;
}