<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header class="header">
        <h1>Cервис Secret</h1>
    </header>
    <main class="main">
        <form id="formMain" action="/send" method="post">
            <label for="pass1" class="label">Сверхсекретный пароль</label>
            <input type="password" id="pass1" class="pass" name="pass1"  required>
            <label for="pass2" class="label">Повторите пароль</label>
            <input type="password" id="pass2" class="pass" name="pass2" required>
            <label for="content" class="label" >Ваш текст</label>
            <textarea id="content" class="textarea" name="text" rows="5"></textarea>
            <div class="buttons">
                <input type="reset" id="buttonReset" value="Сбросить">
                <input type="submit" id="buttonSubmit" value="Отправить">
            </div>
        </form>
    </main>
    <footer class="footer"></footer>
    <!-- <script src="main.js"></script> -->
</body>
</html>